<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--  헤더 영역  -->

<th:block th:replace="/inc/header :: headerFragment"></th:block>

<!--   컨텐츠 영역   -->
<body>
<div class="container">
    <h3 class="mt-3">상품 리스트</h3>
    <form action="/product/search" method="post">
        <input type="text" id="pname", name="pname" placeholder="상품검색">
        <select id="kind", name="kind">
            <option value="all">전체</option>
            <!--<option value="도서" th:selected="${map.get('kind')}=='도서'">도서</option>
            <option value="생활가전" th:selected="${map.get('kind')}=='생활가전'">생활가전</option>-->
            <option value="도서">도서</option>
            <option value="생활가전">생활가전</option>
        </select>
        <input type="submit" value="검색">

    </form>
    <!--<form id="frmTable" action="product/prodsDelete" method="post">-->
    <form id="frmTable" action="product/prodsModify" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>선택</th>
                <th>상품번호</th>
                <th>상품명</th>
                <th>종류</th>
                <th>가격</th>
                <th>등록일자</th>
                <th>수정일자</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="prod : ${list}">
            <tr>
                <!--아래처럼 하면 pno를 no로 고치면 에러로 페이지가 안뜸-->
                <!--<td th:text="${prod.no}"></td>
                <td th:text="${prod.pname}"></td>
                <td th:text="${prod.kind}"></td>
                <td th:text="${prod.price}"></td>
                <td th:text="${prod.inDate}"></td>
                <td th:text="${prod.upDate}"></td>-->

                <!--map의 get()을 이용하면 pno를 no로 고쳐도 에러가 안뜨고 그냥 no자리에 공백만 뜸-->
                <td><input type="checkbox" name="chkPno" th:value="${prod.get('pno')}"></td>
                <td th:text="${prod.get('pno')}"></td>
                <td th:text="${prod.get('pname')}"></td>
                <td th:text="${prod.get('kind')}"></td>
                <td th:text="${prod.get('price')}"></td>
                <td th:text="${prod.get('in_date')}"></td>
                <td th:text="${prod.get('up_date')}"></td>

                <td><a class="btn btn-info btn-sm" th:href="@{/product/prodModify(pno=${prod.get('pno')})}">수정</a></td>
                <td><a class="btn btn-danger btn-sm" th:href="@{/product/prodDel(pno=${prod.get('pno')})}">삭제</a></td>
            </tr>
            </th:block>
        </tbody>
            </table>
        <input type="hidden" name="zzena">
        </form>

</div>
<div class="container ms-auto">
    <button class="btn btn-primary"><a href="/product/prodRegister" style="color:white;">상품등록</a></button>
    <button class="btn btn-danger" type="button" onclick="onDelete()">선택삭제</button>
    <button class="btn btn-secondary" type="button" onclick="onModify()">선택수정</button>
</div>
</body>

<!--  푸터 영역  -->

<th:block th:replace="/inc/footer :: footerFragment"></th:block>
<script>
    let frm = document.getElementById("frmTable");  //둘 다 쓰므로 전역변수로 뺏음.
    function onModify() {
        let zzena = prompt("가격을 입력하세요");
      /*  frm.setAttribute("action", "product/prodsModify");
        let cnt = 0;
        for (let chk of chkBoxes) {
        }*/
        if (zzena == undefined){
            return;
        }else if(zzena == ""){
            alert("가격을 입력하세요!");
            onModify();     //재귀호출. 자기가 자신을 다시 호출함
        }else if(zzena != ""){
            // 입력받은 값을 어딘가 저장해서 controller로 넘겨야 함 = hidden input안에 넣기
            frm.zzena.value=zzena;
            frm.submit();
        }

            frm.submit();
    }
    function onDelete() {
        let chkBoxes = document.getElementsByName("chkPno");
        frm.setAttribute("action", "product/prodsDelete");

        let cnt = 0;
        for (let chk of chkBoxes) {
            if (chk.checked) { // 체크되어 있으면 true, 아니면 false 리턴
                cnt++;
            }
        }
        if (cnt == 0) {
            alert("삭제할 상품을 체크하세요!!");
            return;
        }
        frm.submit();
    }


</script>
</body>
</html>